.card {
  inline-size: min(100%, 38rem);

  &__title {
    &--wrapper {
      @include change-display($display-flex);
    }
  }
  &__body {
    @include change-display($display-grid, 1.5rem);
  }

  &__question {
    &__title--wrapper {
      display: $display-flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
    }

    &__ans {
    //   padding-block-end: 1rem;
    }
  }
}
