body {
  background: url("../public/images/background-pattern-mobile.svg") no-repeat
    $clr-light-pink;
  padding: 1.5rem;
  display: $display-flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: $clr-white;
  border-radius: 1rem;
  padding: 2rem;

  &__title {
    font-size: 3rem;
  }

  &__question {
    cursor: pointer;
  }
  &__question:hover &__question__title {
    color: $clr-purple-lighter;
  }

  &__question__ans {
    // padding-block-start: 1rem;
    max-block-size: 20rem;
    overflow: hidden;
    transition: max-block-size .5s;
  }
}
.closed {
  padding-block-start: 0;
  max-block-size: 0;
}
.card__question.display{
    display: inline;
}

@media (min-width: 375px) {
  body {
    background: url("/images/background-pattern-desktop.svg")
      no-repeat $clr-light-pink;
  }
}
